@tailwind base;
@tailwind components;
@tailwind utilities;

.listing-image-slider .slick-slider .slick-track {
    display: flex !important;
}

.listing-image-slider .slick-slider .slick-slide {
    height: inherit !important;
}

.listing-image-slider .slick-slider .slick-slide div {
    height: 100%;
}

.item-view-slider .slick-list {
    @apply rounded-xl overflow-hidden;
}